<app-header></app-header>
<div class="limiter">
    <div class="container-login100">
        <div class="container">
            <table class="table table-bordered" style="background: #fff;">
                <thead>
                    <tr>
                        <th>Student Id</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Position</th>
                        <th>City</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userList; let i = index">
                        <td>{{user.id}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.age}}</td>
                        <td>{{user.position}}</td>
                        <td>{{user.city}}</td>
                        <td> <i class="fa fa-tarsh"><img src="https://image.flaticon.com/icons/png/512/61/61848.png" width="20" alt="" (click)="removeUser(user.id, user.name)"></i> 
                        <i class="fa fa-pencil"><img src="https://img.icons8.com/pastel-glyph/2x/edit.png" style="margin-left: 15px;display: inline-block;" width="20" alt=""></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

